.offer_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    padding: 1.5rem 2.5rem ;
  }
  
  .tagline{
      margin-right: 1.2rem;
  }
  
  .button{
      padding: 1rem 2rem;
      background-color: black;
      color: white;
      cursor: pointer;
  }